.section__Profile {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 40% 60%;
}

.profile__col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
}

.profile__col1__Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5rem;
}

.createBlog__btn {
    padding: 1rem 2rem !important;
    background-color: var(--primary) !important;
    text-transform: none !important;
    color: var(--background) !important;
    border-radius: 1rem !important;
    font-size: 1.33rem !important;
}

.Account {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: 3rem 0;
}

.Account__col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Account__col1>h1 {
    text-transform: capitalize;
}

.Account__col1>h4 span {
    font-weight: bold;
}

.Account__col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ChangeEmailPasswd {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.change__btn {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1rem !important;
    border-radius: 5rem !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

.Account__cards hr {
    width: 91%;
}

.Account__cards>h5 {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: .15rem;
    margin-bottom: 1rem;
}

.Account__Container {
    padding: 3rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem; */
}

.Modal {
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.Modal__Container {
    background-color: var(--background);
    color: var(--primary);
    padding: 4rem 2rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.Modal__Container h4 {
    margin-top: 0;
}

.sameEmail {
    display: none;
    color: rgb(255, 83, 83);
}

.emailChanged {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.emailChanged h3 {
    margin: 0;
}

.formChangeEmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.emailInput {
    width: 30rem;
}

.change__Emailbtn {
    background-color: var(--primary) !important;
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1rem !important;
    color: var(--background) !important;
    border: 1px solid var(--primary) !important;
}

@media only screen and (max-width: 600px) {
    .section__Profile {
        display: flex;
        flex-direction: column;
    }

    .profile__col1 {
        padding: 0 2rem;
    }

    .profile__col1__Container {
        height: 100%;
        width: 100%;
    }

    .Account {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;
    }

    .change__btn {
        padding: 1rem !important;
    }

    .Account__cards {
        padding: 0 2rem;
    }

    .Account__cards hr {
        width: 100%;
    }

    .Account__Container {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0;
    }
}