.section__Profile {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.profile__col1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 75vh;
}

.profile__col1__Container {
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.createBlog__btn {
    padding: 1rem 2rem !important;
    background-color: var(--primary) !important;
    text-transform: none !important;
    color: var(--background) !important;
    border-radius: 1rem !important;
    font-size: 1.33rem !important;
}

.Account {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3rem;
}

.Account__col1>h1 {
    text-transform: capitalize;
}

.Account__col1>h4 span {
    font-weight: bold;
}

.Account__col2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.change__btn {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1.33rem !important;
    border-radius: 5rem !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

.Account__cards hr {
    width: 91%;
}

.Account__cards>h5 {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.Account__Container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
}

/* .profile {
    height: 79.63vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--theme-bg);
    display: grid;
    grid-template-areas: ".col1__row1 .col2__row2";
    grid-template-columns: 30% 70%;
}

.Pcol1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Pcol1__row1 {
    width: 100%;
    flex: .9;
    display: flex;
    justify-content: center;
}

.profile__container {
    height: 90%;
}

.profile__container img {
    height: 100%;
}

.Pcol1__row2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.createBlog__btn {
    background-color: var(--primary) !important;
    border-radius: 1rem !important;
    color: whitesmoke !important;
    padding: 1rem 1.5rem !important;
}

.Pcol2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Pcol2__row1 {
    width: 100%;
    flex: .25;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pcol2__row1__col1 {
    height: 100%;
    flex: .5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.Pcol2__row1__col1 h1 {
    color: var(--primary);
    text-transform: capitalize;
    font-size: 6rem;
}

.Pcol2__row1__col2 {
    height: 100%;
    flex: .5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondary__btn {
    background-color: inherit !important;
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
    font-weight: 600 !important;
    border-radius: .75rem !important;
}

.Email__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 136, 230, 0.544);
}

.Email__modal__paper {
    outline: none;
    background-color: var(--theme-bg);
    border: 2px solid var(--primary);
    height: 10rem;
    width: 45rem;
    border-radius: 17px;
}

.Email__modal__paper form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Email__modal__paper input {
    width: 90%;
    font-size: 2rem;
    border-radius: .7rem;
    outline: none;
    border: none;
    border: 1px solid var(--primary);
    background-color: inherit;
    padding-left: 20px;
    color: var(--primary);
    font-weight: 500;
}

.changeEmail__btn {
    padding: .7rem 1rem !important;
    border: 2px solid var(--primary) !important;
    font-size: 18px !important;
    border-radius: .7rem !important;
    color: var(--primary) !important;
    font-weight: 600 !important;
}

.Pcol2__row2 {
    width: 100%;
    flex: .75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Pcol2__row2__row1 {
    flex: .15;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    border-bottom: 2px solid var(--primary);
}

.Pcol2__row2__row2 {
    flex: .85;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .4rem;
    overflow-y: scroll;
    padding: 20px 0;
}

.Pcol2__row2__row2::-webkit-scrollbar {
    display: none;
} */