.section__Profile {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.profile__col1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 75vh;
}

.profile__col1__Container {
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.createBlog__btn {
    padding: 1rem 2rem !important;
    background-color: var(--primary) !important;
    text-transform: none !important;
    color: var(--background) !important;
    border-radius: 1rem !important;
    font-size: 1.33rem !important;
}

.Account {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3rem;
}

.Account__col1>h1 {
    text-transform: capitalize;
}

.Account__col1>h4 span {
    font-weight: bold;
}

.Account__col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ChangeEmailPasswd {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.change__btn {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1rem !important;
    border-radius: 5rem !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

.Account__cards hr {
    width: 91%;
}

.Account__cards>h5 {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.Account__Container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
}

.Modal {
    display: grid;
    place-items: center;
}

.Modal__Container {
    background-color: var(--background);
    color: var(--primary);
    padding: 4rem 2rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.Modal__Container h4 {
    margin-top: 0;
}

.sameEmail {
    display: none;
    color: rgb(255, 83, 83);
}

.emailChanged {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.emailChanged h3 {
    margin: 0;
}

.formChangeEmail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.emailInput {
    width: 30rem;
}

.change__Emailbtn {
    background-color: var(--primary) !important;
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1rem !important;
    color: var(--background) !important;
    border: 1px solid var(--primary) !important;
}