.welcome__section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.welcome__col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem;
    margin-bottom: 4rem;

}

.welcome__info1 {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 3rem;
}

.welcome__info1 hr {
    width: 15%;
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

.welcome__info4 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__btn {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    border-radius: 8px !important;
    font-size: 1.33rem !important;
}

.primary__btn {
    background-color: var(--primary) !important;
    color: var(--background) !important;
}

.secondary__btn {
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

.welcome__col2 img {
    height: 90%;
}