.welcome {
    height: 86.63vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--theme-bg);
    display: grid;
    grid-template-areas: ".col1 .col2";
    grid-template-columns: 50% 50%;
}

.col1 {
    height: 100%;
    display: grid;
    place-items: center;
}

.col1__main {
    height: 70%;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.group1 {
    width: 100%;
    flex: .15;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.group1 p {
    text-transform: uppercase;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .5rem;
}

.line {
    height: .3rem;
    width: 10%;
    background-color: var(--primary);
    border-radius: 20px;
}

.group2 {
    width: 100%;
    flex: .6;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.group2 p:nth-child(1) {
    font-size: 5rem;
}

.group2 p:nth-child(2) {
    font-size: 2.35rem;
}

.group3 {
    width: 100%;
    flex: .25;
    display: grid;
    place-items: center;
}

.button__group {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.welcome__buttons {
    height: 100% !important;
    width: 25% !important;
    text-transform: capitalize !important;
    border-radius: 7px !important;
    font-weight: 500 !important;
}

.primary__Button {
    color: whitesmoke !important;
    background-color: var(--primary) !important;
}

.secondary__Button {
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
}

.col2 {
    height: 100%;
    display: grid;
    place-items: center;
}

.LaptopKid {
    height: 98%;
    width: 98%;
}