.welcome__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}

.welcome__col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 6rem;
    padding-top: 0;
    margin-bottom: 6rem;
    gap: 3rem;
}

.welcome__info1 {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 3rem;
}
.welcome__info1 h5{
    font-size: 0.9rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.welcome__info1 h5 {
    font-size: 0.9rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.welcome__info1 hr {
    width: 3%;
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

<<<<<<< HEAD
.welcome__info2 h1{
    letter-spacing: -0.1rem;
    margin-bottom: 0.5rem;
}
.welcome__info2 h3{
    font-size: 1.333rem;
}

=======
.welcome__info2 h1 {
    letter-spacing: -0.1rem;
    margin-bottom: 0.5rem;
}

.welcome__info2 h3 {
    font-size: 1.333rem;
}


>>>>>>> 360a697 (2__03__2021)
.welcome__info4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}

.welcome__btn {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    border-radius: 8px !important;
    font-size: 1.33rem !important;
}

.primary__btn {
    background-color: var(--primary) !important;
    color: var(--background) !important;
    font-size: 1rem !important;
}

.secondary__btn {
    font-size: 1rem !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    font-size: 1rem !important;
}

.welcome__col2 img {
    height: 90%;
}