.blog__cards {
    /* min-height: 15rem;
    max-height: 20rem;
    min-width: 25rem;
    max-width: 30rem; */
    width: 100%;
    background-color: rgba(251, 122, 28, 5%);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.55rem;
}

.blogCard__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.delete__btn {
    padding: 1rem !important;
    border: 1px solid var(--primary) !important;
    border-radius: 50% !important;
}

.topic__name {
    font-size: 23px;
    margin: 1.5rem 0 0;
}

.blog__bottom {
    margin: 3rem 0 1.38rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog__bottom Button {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.author__name {
    color: var(--primary);
    text-transform: capitalize;
    margin: 0;
}

.blogCard__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}