.comment__Container {
    border: 1px solid var(--primary);
    border-radius: 2rem;
    /* min-height: 15rem; */
    padding: 1.5rem 2.5rem;
}

.comment__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5rem;
}

.comment__Container h5 {
    color: var(--primary);
}