@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

.home {
    height: 100vh;
    width: 100vw;
    background: var(--theme-bg);
}

.home__home {
    height: 86.67vh;
    width: 100%;
    padding: 2.5rem 25px 1rem 30px;
    display: grid;
    grid-template-areas: ".home__homeContent .home__homeImg";
    grid-template-columns: 50% 50%;
}

.home__homeContent {
    position: relative;
}

.home__homeTitle {
    position: absolute;
    width: 610px;
    height: 160px;
    left: 75px;
    top: 50px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 59px;
    line-height: 80px;

    color: #FFFFFF;
}