@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --primary: #FB7A1C;
    --background: #FCF2EA;
}

html {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #FCF8F5;
    /* }

nav {
    height: 20vh;
    background-color: var(--background); */
}

h1 {
    margin: 0;
    font-size: 4.209rem;
    font-weight: 700;
}

h5 {
    font-weight: 400;
    font-size: 1.333rem;
}

.wrapper {
    /* width: 100vw; */
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-col {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.action {
    padding-top: 5rem;
    display: flex;
    gap: 1rem;
}

.secondary_btn {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 1.3rem 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    text-decoration: none;
    transition: all 150ms ease-in;
    font-size: .8rem;
}

.secondary_btn:hover {
    background-color: var(--primary);
    color: #ffffff;
}

.primary_btn {
    background: var(--primary);
    padding: 1.3rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    border-radius: 12px;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

@media only screen and (max-width: 600px) {

    nav {
        height: 10vh;
    }

    .wrapper {
        height: 80vh;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .right-col>img {
        height: 100vw;
    }

    .left-col {
        padding-top: 0;
    }

    .right-col {
        overflow: hidden;
    }

    h1 {
        font-size: 2.369rem;
    }

    h5 {
        margin-top: 0.5em;
        font-size: 1.333rem;
    }

}