.explore {
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section {
    width: 100%;
}

.explore__sec1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
    grid-template-columns: 70% 30%;
}

.explore__sec1Col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 6rem;
    padding-top: 0;
    /* margin-bottom: 6rem; */
    margin-bottom: 3rem;
    gap: 3rem;
}

.explore__sec1Col2 img {
    width: 100%;
}

.search__group {
    width: 100%;
}

.explore__btn {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1.33rem !important;
    border-radius: 5rem !important;
    border: 1px solid var(--third) !important;
}

.buttons__grp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.active__btn {
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

.explore__sec2 {
    padding: 0rem 2rem 5rem 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;

    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem; */
}

.loadMore__btn {
    padding: 1rem 2rem !important;
    background-color: var(--primary) !important;
    border-radius: 3rem !important;
    color: #fff !important;
}

.caughtup__Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}

.caughtup__Container svg {
    font-size: 2.5rem;
}

.caughtup__Container h4 {
    margin: 0;
}

@media only screen and (max-width: 600px) {

    .explore__sec1 {
        display: block;
    }

    .explore__sec1Col1 {
        padding: 1rem 2rem;
    }

    .explore__sec1Col2 {
        display: none;
    }

    .explore__sec2 {
        display: flex;
        flex-wrap: wrap;
    }
}