footer {
    height: 35vh;
    background-color: #302421;
    color: white;
    padding-bottom: 3rem;
}

.footer__main {
    height: 85%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.333% 33.333% 33.333%;
    grid-template-columns: 33.333% 33.333% 33.333%;
}

.footer__col1 {
    padding: 1.7rem 3rem;
}

.footer__col2 {
    padding: 1.7rem 4rem;
}

.site__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.no__Underline {
    text-decoration: none;
}

.site__links__p {
    color: var(--primary);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 8%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.footer__col3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__last {
    background-color: #302421;
    text-align: center;
}