.Blogwrapper {
    margin: 0 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.blog {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
}

.blog p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.blog h2 {
    font-weight: 500;
}

.blog h5 {
    color: var(--primary);
}

.blog .Editor {
    height: 50vh !important;
}

.comments {
    margin-top: 5rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.comments h3 {
    margin-bottom: 0.8rem;
}


.comments input {
    width: 100%;
    background: var(--background);
    border-radius: 12px;
    border: none;
    padding: 1.875rem;
    color: var(--primary);
    font-size: 1.2rem;
}

.comments input:focus {
    outline: none;
    border: none;
}

.comments input::-webkit-input-placeholder {
    color: var(--primary);
}

.comments input::-moz-placeholder {
    color: var(--primary);
}

.comments input:-ms-input-placeholder {
    color: var(--primary);
}

.comments input::-ms-input-placeholder {
    color: var(--primary);
}

.comments input::placeholder {
    color: var(--primary);
}

.comments input:focus::-webkit-input-placeholder {
    color: transparent;
}

.comments input:focus::-moz-placeholder {
    color: transparent;
}

.comments input:focus:-ms-input-placeholder {
    color: transparent;
}

.comments input:focus::-ms-input-placeholder {
    color: transparent;
}

.comments input:focus::placeholder {
    color: transparent;
}

.comments form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}

.primary_btn {
    background: var(--primary) !important;
    padding: 1.3rem 1rem !important;
    border-radius: 8px !important;
    color: #ffffff !important;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1rem !important;
}

.please__login {
    padding: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}

.please__login h4 {
    margin: 0;
}


.comments .blog__comments {
    margin: 2rem 0;
    /* display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 1rem;
}

.comments .blog__comments ul li {
    padding: 1.875rem 0;
    border-top: 1px solid #fb791c17;
}

.comments .blog__comments ul li p {
    color: var(--primary);
    font-size: 1rem;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {

    .Blogwrapper {
        margin: 0;
        padding: 0 2rem;
    }

    .comments input {
        width: 100%;
    }

    .primary_btn {
        padding: 1rem 1.5rem;
    }

}