* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --primary: #FB7A1C;
    --background: #FCF2EA;
}

html {
    font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 3rem 0 1.38rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin: 0;
    font-size: 4.209rem;
    font-weight: 700;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

body {
    background-color: #FCF8F5;
}

nav {
    height: 20vh;
    background-color: var(--background);
}

.wrapper {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.blog h2 {
    font-weight: 500;
}

.blog h5 {
    color: var(--primary);
}

.blog span {
    font-size: 1.5rem;
    line-height: 150%;
}

.comments {
    margin-top: 5rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comments h3 {
    margin-bottom: 0.8rem;
}


.comments input {
    width: 100%;
    background: var(--background);
    border-radius: 12px;
    border: none;
    padding: 1.875rem;
    color: var(--primary);
    margin-bottom: 1.875rem;
    font-size: 1.2rem;
}

.comments input:focus {
    outline: none;
    border: none;
}

.comments input::placeholder {
    color: var(--primary);
}

.comments input:focus::placeholder {
    color: transparent;
}

.primary_btn {
    align-self: center;
    border: none;
    background: var(--primary);
    padding: 1.3rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}


.comments .blog_comments {
    margin-top: 2rem;
}

.comments .blog_comments ul {
    list-style-type: none;
}

.comments .blog_comments ul li {
    padding: 1.875rem 0;
    border-top: 1px solid #fb791c17;
    /* background-color: var(--background); */
}

.comments .blog_comments ul li p {
    color: var(--primary);
    font-size: 1rem;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {

    .wrapper {
        margin: 0 1.875rem;
    }

    .comments input {
        width: auto;
    }

}