.Blogwrapper {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.blog h2 {
    font-weight: 500;
}

.blog h5 {
    color: var(--primary);
}

.blog span {
    font-size: 1.5rem;
    line-height: 150%;
}

.comments {
    margin-top: 5rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comments h3 {
    margin-bottom: 0.8rem;
}


.comments input {
    width: 100%;
    background: var(--background);
    border-radius: 12px;
    border: none;
    padding: 1.875rem;
    color: var(--primary);
    margin-bottom: 1.875rem;
    font-size: 1.2rem;
}

.comments input:focus {
    outline: none;
    border: none;
}

.comments input::placeholder {
    color: var(--primary);
}

.comments input:focus::placeholder {
    color: transparent;
}

.comments form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.primary_btn {
    background: var(--primary) !important;
    padding: 1.3rem 1rem !important;
    border-radius: 8px !important;
    color: #ffffff !important;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1rem !important;
}

.please__login {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.please__login h4 {
    margin: 0;
}


.comments .blog_comments {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
}

.comments .blog_comments ul li {
    padding: 1.875rem 0;
    border-top: 1px solid #fb791c17;
}

.comments .blog_comments ul li p {
    color: var(--primary);
    font-size: 1rem;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {

    .Blogwrapper {
        margin: 0 1.875rem;
    }

    .comments input {
        width: auto;
    }

}