.section__CreateBlog {
    padding: 2rem 5rem 3rem;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; */
}

.Blog__content {
    /* -ms-flex-item-align: center;
    align-self: center;
    width: 80%; */
    padding: 1rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.Blog__content input {
    background-color: #00000000;
    outline: none;
    border: none;
    font-size: 5rem;
    color: #333333;
    width: 100%;
    padding: 1.5rem 0;
}

.Blog__main {
    min-height: 70vh;
    background-color: rgba(251, 122, 81, 5%);
    padding: 1rem 3rem 3rem;
    border-radius: 2rem;
}

.Btn__Container {
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.w-md-editor-toolbar>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Editor {
    width: 100%;
}

.post__btn {
    padding: 1rem 2rem !important;
    background-color: var(--primary) !important;
    text-transform: none !important;
    color: var(--background) !important;
    border-radius: 1rem !important;
    font-size: 1.33rem !important;
}

@media only screen and (max-width: 600px) {
    .section__CreateBlog {
        padding: 2rem;
    }

    .Blog__content {
        padding: 2rem 0;
    }

    .Blog__content input {
        font-size: 2.5rem;
        padding: 1rem 0;
    }

    .post__btn {
        padding: 1rem 1.5rem !important;
    }
}