.section__CreateBlog {
    padding: 2rem 5rem 3rem;
    display: flex;
    flex-direction: column;
}

.Blog__content {
    align-self: center;
    width: 80%;
    padding: 1rem 5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-end;
}

.Blog__content input {
    background-color: #00000000;
    outline: none;
    border: none;
    font-size: 5rem;
    color: #333333;
    width: 100%;
    padding: 1.5rem 0;
}

.Blog__main {
    min-height: 70vh;
    background-color: rgba(251, 122, 81, 5%);
    padding: 1rem 3rem 3rem;
    border-radius: 2rem;
}

.Btn__Container {
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-md-editor-toolbar>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Editor {
    width: 100%;
}

.post__btn {
    padding: 1rem 2rem !important;
    background-color: var(--primary) !important;
    text-transform: none !important;
    color: var(--background) !important;
    border-radius: 1rem !important;
    font-size: 1.33rem !important;
}