.login {
    display: -ms-grid;
    display: grid;
    background-color: var(--theme-bg);
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
}

.login__Col2 {
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.login__Col1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.login_Col1 img{
    height: 100%;
}

.invalid {
    display: none;
    color: rgb(255, 83, 83);
}

.login__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
}


.login__form button{
    border-radius: 12px;
}

.input__Container {
    background-color: rgba(251, 122, 28, 5%);
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.input__Container label{
color: var(--primary) !important;
}

.input__Container input {
    font-size: 2.25rem;
    color: var(--primary) !important;
}

input::before{
    border-bottom-color: rgb(251, 122, 28) !important;
}

.MuiInput-underline:after{
    border-bottom-color: rgb(251, 122, 28) !important;
}

.login__btn {
    background-color: var(--primary) !important;
    color: var(--background) !important;
    width: 100% !important;
    height: 5rem !important;
    text-transform: none !important;
    font-size: 1.25rem !important;
}

.already {
    font-size: 1.35rem;
    margin: 0;
}

.already span {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}