.login {
    display: grid;
    background-color: var(--theme-bg);
    grid-template-columns: 60% 40%;
}

.login__Col2 {
    display: grid;
    place-items: center;
}

.invalid {
    display: none;
    color: rgb(255, 83, 83);
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.input__Container {
    background-color: rgba(251, 122, 28, 5%);
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.input__Container input {
    font-size: 2.25rem;
    color: var(--primary);
}

.login__btn {
    background-color: var(--primary) !important;
    color: var(--background) !important;
    width: 100% !important;
    height: 5rem !important;
    text-transform: none !important;
    font-size: 1.25rem !important;
}

.already {
    font-size: 1.35rem;
    margin: 0;
}

.already span {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}