* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --primary: #FB7A1C;
  --background: #FCF2EA;
  --third: rgba(251, 122, 28, 20%)
}

body {
  background-color: var(--background);
}

body::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: #ff9a51ad;
}

::selection {
  background-color: #ff9a51ad;
}

html {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 3rem 0 1.38rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin: 0;
  font-size: 4.209rem;
  font-weight: 700;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

a {
  color: #FB7A1C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}