* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --theme-bg: #FCF8F5;
  --primary: #FB7A1C;
}

html {
  font-size: 18px;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}