nav {
    height: 16vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 1.5rem 2.5rem;
}

.nav__box {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__searchbox {
    background-color: var(--third);
    -webkit-box-flex: .25;
    -ms-flex: .25;
    flex: .25;
    border-radius: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.3rem 1rem;
}

.searchIcon {
    font-size: 1.7rem !important;
    color: rgba(0, 0, 0, 0.5) !important;
}

.nav__searchbox input {
    -webkit-box-flex: .9;
    -ms-flex: .9;
    flex: .9;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #333333 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.Nav__list a{
    text-decoration: none;
    border-radius: 5rem;
    color: #000000;
}

.Nav__list {
    list-style: none;
    height: 70%;
    -webkit-box-flex: .35;
    -ms-flex: .35;
    flex: .35;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__btn {
    border-radius: 5rem !important;
    /* border: 1px solid var(--primary) !important; */
    padding: 0 !important;
}

.btn__links {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1rem !important;
    text-decoration: none;
}

.active__link {
    border: none !important;
    color: #ffffff !important;
    background-color: var(--primary);
    font-weight: bold !important;
    text-decoration: underline;
}

.username {
    text-transform: capitalize;
    font-size: 23px;
}

/* Mobile S screens ----------- */
@media only screen and (max-width : 320px) {
    nav {
        height: 10vh;
    }

    .Nav__list {
        display: none;
    }
}

/* Mobile S screens ----------- */
@media only screen and (max-width : 375px) {
    nav {
        height: 10vh;
    }

    .Nav__list {
        display: none;
    }
}

/* Mobile S screens ----------- */
@media only screen and (max-width : 425px) {
    nav {
        height: 10vh;
    }

    .Nav__list {
        display: none;
    }
}

/* Mobile S screens ----------- */
@media only screen and (max-width : 320px) {
    nav {
        height: 10vh;
    }

    .Nav__list {
        display: none;
    }
}