nav {
    height: 16vh;
    width: 100%;
    background-color: var(--background);
    display: grid;
    place-items: center;
    padding: 1.5rem 2.5rem;
}

.nav__box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__searchbox {
    background-color: var(--third);
    height: 70%;
    flex: .25;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchIcon {
    font-size: 1.7rem !important;
    color: #333333 !important;
}

.nav__searchbox input {
    flex: .9;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.7rem;
    color: #333333 !important;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.Nav__list {
    list-style: none;
    height: 70%;
    flex: .4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__btn {
    border-radius: 5rem !important;
    border: 1px solid var(--primary) !important;
    padding: 0 !important;
}

.btn__links {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1.33rem !important;
    text-decoration: none;
}

.active__link {
    border: none !important;
    color: #3d3d3d !important;
    font-weight: bold !important;
    text-decoration: underline;
}

.username {
    text-transform: capitalize;
    font-size: 23px;
}