nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
}

.nav__searchbox {
    background-color: var(--third);
    -webkit-box-flex: .25;
    -ms-flex: .25;
    flex: .25;
    border-radius: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.3rem 1rem;
    border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    -webkit-border-radius: 3rem;
}

.searchIcon {
    font-size: 1.7rem !important;
    color: rgba(0, 0, 0, 0.5) !important;
}

.nav__searchbox input {
    -webkit-box-flex: .9;
    -ms-flex: .9;
    flex: .9;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #333333 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: none !important;
    color: var(--primary) !important;
}

.Nav__list a {
    text-decoration: none;
    border-radius: 5rem;
    color: #000000;
}

.Nav__list {
    list-style: none;
    height: 70%;
    -webkit-box-flex: .35;
    -ms-flex: .35;
    flex: .35;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -ms-transition: 1.5s ease-in-out;
    -o-transition: 1.5s ease-in-out;
}

.nav__btn {
    border-radius: 5rem !important;
    /*border: 1px solid var(--primary) !important;
    */
    padding: 0 !important;
    -webkit-border-radius: 5rem !important;
    -moz-border-radius: 5rem !important;
    -ms-border-radius: 5rem !important;
    -o-border-radius: 5rem !important;
}

.btn__links {
    padding: 1rem 2rem !important;
    text-transform: none !important;
    font-size: 1rem !important;
    text-decoration: none;
}

.active__link {
    border: none !important;
    color: #ffffff !important;
    background-color: var(--primary);
    font-weight: bold !important;
    text-decoration: underline;
}

.username {
    text-transform: capitalize;
    font-size: 23px;
}

/* Mobile S screens ----------- */
@media only screen and (max-width: 600px) {

    nav {
        padding: 1rem 2rem;
        flex-direction: column;
    }

    .nav__box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu {
        display: inline-flex !important;
        z-index: 1;
    }

    .Nav__list {
        pointer-events: none;
        position: fixed;
        border-radius: .5rem;
        width: 100%;
        height: 30%;
        background: rgba(255, 172, 172, 0.367);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        padding: 1rem 2rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        clip-path: circle(10px at 50% -10%);
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    .Nav__listOpen {
        pointer-events: all;
        display: inline-flex;
        clip-path: circle(1000px at 95% -10%);
    }
}